<h1>Your Profile</h1>
<%= link_to 'Edit', edit_profile_path(current_user.id) %>
<p>Email: <%= current_user.email %></p>
<p>First name: <%= current_user.first_name %></p>
<p>Last name: <%= current_user.first_name %></p>

<h2>Your Address</h2>
<p>Address: </p>
<p>Address 2: </p>
<p>City, State, Postal Code</p>


